body{
    font-family: 'Open Sans';
}

.flex{
    display: flex;
}

.container {
    margin-left: 220px;
}

.menu{
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: -0.065em;
    margin: 0 auto;
    align-items: center;
    height: 100px;
    width: 1140px;
    border-bottom: 1px solid #E6E6E6;
}

.menu .options ul{
    display: flex;
}

.menu .options ul li {
    margin-left: 50px;
}

.red {
    color: #A80001;
}

.green{
    color: #06AA48;
}

.orange{
    color: #FF7F00;
}

.gray {
    color: #666666;
}

.violet{
    color: #A5147D;
}

strong{
    font-weight: bold;
}

.content{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin-left: 140px;
    margin-top: 30px;
}

.main{
    width: 580px;
}

.highlight{
    padding-bottom: 15px;
    border-bottom: 1px solid #E6E6E6;
}

.main .highlight .title{
    font-size: 52px;
    letter-spacing: -0.5px;
}


.main .highlight .title .subtitle{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.068em;
    
}

.main .news{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 1px solid #E6E6E6;
}

.new .title{
    margin: 10px 0 6px 0;
}

.main .new {
    width: 171px;
    height: 220px;
}

.black {
    color: black;
}

.separator {
    width: 1px;
    background-color: #E6E6E6;
}

.sports{
    width: 220px;
    margin-top: 20px;
}